$dark:#272b2d;
$darkTransparent:rgba(39, 43, 45, 0.904);
$darkshadow:#8a8d91;
$highlight: #ff2365;
$light: #f2f2f2;
$backgroundLight: #fcfcfc;
$font: 'Montserrat', sans-serif;
$font-bold: 700;
$font-semibold: 600;
$font-regular: 500;
$h1: 140px;
$h2: 60px;
$h3:40px;
$h4:30px;
$button: 14px;
$p:16px;
$underlineSmall: 4px solid $highlight;
$underlineBig: 8px solid $highlight;


@mixin headings ($h, $weight, $font, $light){
    font-size:$h;
    font-weight: $weight;
    font-family: $font;
    color:$light;
}

@mixin smartphone{
    @media (max-width: 700px){
        @content;
    }
}

@mixin tablet{
    @media (min-width: 700px) and (max-width: 1024px){
        @content;
    }
}

h1{
    @include headings($h1,$font-bold, $font, $light);
    @include smartphone{
		font-size:80px;
    }
    @include tablet{
        font-size:70px;
    }
}

h2{
    @include headings($h2, $font-semibold, $font, $light);
    @include smartphone{
        font-size:40px;
    }
    @include tablet{
        font-size:30px;
    }
}

h3{
    @include headings($h3,$font-semibold, $font, $light);
    @include smartphone{
        font-size:30px;
    }

}



h4{
    @include headings($h4,$font-semibold, $font, $light);
    @include smartphone{
        font-size:20px;
    }
    @include tablet{
        font-size:16px;
    }
}

p{
    @include headings($p,$font-regular, $font, $light);
    line-height: 150%;
    @include tablet{
        font-size:14px;
    }
}

i{
    color:$light;
}
