.smallDevicesWidth{
    @include smartphone{
        padding:0 8%;
    }
}

.smallDevicesImgs{
    @include smartphone{
        display: none;
    }
}
#myBtnContainer{
    @include smartphone{
        display: none;
    }
}
#portfolioMobile{
    @include smartphone{
        display:inline;
    }
}
.spaceImgSmallDevices{
    @include smartphone{
        margin-top:10%;
        h2{
            text-align: center;
            font-family: $h2;
        }
    }
    @include tablet{
        text-align: center;
        h2{
            text-align: left;
            font-family: $h2;
        }
    }
}